.nav-link {
    color: white !important; /*What would be a better color?*/
}


nav {
    margin-bottom:0px !important; /* Make sure nav an extended nav on welcome page have no spacing between */
    background-color: rgb(61, 177, 229);
}


/*Blog post date*/
p.date {
/*    color: #ccc;*/
    font-family: georgia, serif;
    font-size: 14px;
    font-style: italic;
}


#my-pagination {
    margin-top: 25px;
    margin-bottom: 25px !important;
}


/*I need minimum width sizing for table???*/
.table-hover tbody tr:hover {
    background-color: rgb(179, 224, 255);
}



/*Make text smaller on smaller screens.*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 84px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: gray;
    /* color:white; */
}

#footer-head {
    background-color:  rgb(61, 177, 229);
    height: 24px;
}


/* Space below books for smaller screens when the rows collapse into stacked columns. */
.book-container {
    margin-bottom: 40px;
}

/*Aspect ratio of 1.45*/
.book-image {
    width: 220px;
    height: 319px;
}

.book-title {
    margin-bottom: 10px;
    font-style: italic;
}

/* .book-author {


} */

/* Should be as wide as image I think.  */
.book-cover-description {
    max-width: 220px;
}

.book-post-image{
    width: 175px;
    height: 250px;
}


/* comments on blog post*/
.comment {
    padding: 10px;
}

    .comment:nth-child(even) {
        background: #efefef;
    }

    .comment .info {
        font-weight: bold;
        font-size: 12px;
        color: #666;
    }

/* Roughly matches the size of the images. */
.carousel {
    width: 600px;
    height: 452px;
}