.nav-link {
    color: white !important; /*What would be a better color?*/
}

nav {
    margin-bottom:0px !important; /* Make sure nav an extended nav on welcome page have no spacing between */
    background-color: rgb(179, 224, 255);
}

/*Blog post date*/
p.date {
/*    color: #ccc;*/
    font-family: georgia, serif;
    font-size: 14px;
    font-style: italic;
}


/*.blog-title {
    font-size: small;
}*/

#my-pagination {
    margin-top: 25px;
    margin-bottom: 25px !important;
    /* font-weight: bold; */
}


/*I need minimum width sizing for table???*/
.table-hover tbody tr:hover {
    background-color: rgb(179, 224, 255);
}



/*Make text smaller on smaller screens.*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

/*Shouldn't be necessary, but I think bootstrap is overriding it if I just map to body tag*/
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: gray;
    color: rgb(179, 224, 255)
}

#footer-head {
    background-color:  rgb(179, 224, 255);
    height: 24px;
}


/*Home page image*/
.img-container {
    width: 250px;
    height: 300px;
}

/* Space below books for smaller screens when the rows collapse into stacked columns. */
.book-container {
    margin-bottom: 40px;
}

/*Aspect ratio of 1.45*/
.book-image {
    width: 220px;
    height: 319px;
}

/* Should be as wide as image I think.  */
.book-cover-description {
    max-width: 220px;
}


/* comments on blog post*/
.comment {
    padding: 10px;
}

    .comment:nth-child(even) {
        background: #efefef;
    }

    .comment .info {
        font-weight: bold;
        font-size: 12px;
        color: #666;
    }