{% extends "blog/base.html" %}
{% load static %}
{% block title %}FunWithBrandt-Books{% endblock %}

{% block content %}
     <h1>Books</h1>
     <br /><br />


    <p>
        This page definitely needs to be fleshed out more. I'd like to model it off of
        <a href="https://www.gatesnotes.com/Books">Bill Gates' blog</a>
        because I think his looks pretty cool, but that's going to require a big time investment
        at some point. Also, would be pretty nice to have some sort of categorization or at least
        a best of the best list. 
    </p>
    <br />

        <div class="bg-light" style="padding-top: 15px;">
            <div class="row">
                {% for book in books %}         
                    <div class="book-container col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
                        <div>                       
                            <!-- <a href="/"> -->
                                <img class="book-image shadow-lg" src= "{{ book.cover_image.url}}">                   
                            <!-- </a> -->
                            <div class="book-cover-description">
                                <div class="book-title">{{ book.book_title }} </div>
                                <div class="book-author">-{{ book.get_author }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}   
            </div>
        </div>

{% endblock %}

