{% extends "blog/base.html" %}
{% load static %}

{% block title %}My Blog{% endblock %}

{% block content %}
    <h1>Really need a Blog Title</h1>
    <br /><br /><br />


    <div class="col-md-9">
        {% if tag %}
            <h2>Posts tagged with "{{ tag.name }}"</h2>
        {% endif %}

        {% for post, type in all_posts %}
            {% if type == 'BlogPost' %}
                <div>
                    <h4>
                        <a class="blog-title" href="{{ post.get_absolute_url }}">{{ post.post_title }}</a>
                    </h4>
        
                    <p>
                        Tags: 
                        {% for tag in post.tags.all %}
                            <a class="btn btn-primary" href="{% url "blog:post_list_by_tag" tag.slug %}">
                                {{ tag.name }}
                            </a>                            
                        {% endfor %}
                    </p>

                    <p class="date">
                        Created on {{ post.created|date:"DATE_FORMAT" }}
                    </p>

                    {{ post.post_body|truncatewords:75|linebreaks }}
                </div>
                <br /><br />

            {% elif type == 'Book' %}
                <div>
                    <h4>
                        <a class="blog-title" href="{{ post.get_absolute_url }}">Book notes for: {{ post.book_title }}</a>
                    </h4>
                    <div>
                        <a href="/">
                            <img class="book-image" src=
                                    "{% with 'blog/Images/Books/'|add:post.image_name as image_static %}
                                        {% static image_static %}
                                    {% endwith %}" />                             
                        </a>
                        <!-- <p>{{ post.post_body}}</p> -->
                    </div>
                </div>
                <br /><br />
            {% endif %}

        {% endfor %}
    
        {% include "pagination.html" with page=all_posts %}    
    </div>
{% endblock %}

