{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {#<link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}" />#}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap/bootstrap.min.css' %}" />
    <link rel="icon" href="{% static 'blog/Images/BlackHole.jpg' %}" />

    <style> /*Should probably just input this input blog.css file*/
        header {
            background-color: rgb(179, 224, 255);
        }

    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">

            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 navbar-right justify-content-end">
                        <li class="nav-item"
                            ><a lass="nav-link" style="color:black" href="{% url 'blog:blog-home' %}">Home</a>
                        </li>
                        <li class="nav-item"
                            ><a lass="nav-link" style="color:black" href="{% url 'blog:post_list' %}">Blog</a>
                        </li>

                        <li class="nav-item"
                            ><a lass="nav-link" style="color:black" href="/books/">Books</a>
                        </li>
                        <li class="nav-item"
                            ><a lass="nav-link" style="color:black" href="/knowledge-repo/">Knowledge-Repository</a>
                        </li>
                         <li class="nav-item"
                            ><a lass="nav-link" style="color:black" href="/data/">Data-Import</a>
                        </li>
                        <li class="nav-item"
                            ><a lass="nav-link" style="color:black" href="/admin/">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container body-content">
        <main class="pb-3">
            {% block content %}{% endblock %}
        </main>
        
    </div>


    <footer class="border-top footer">
        <div class="container">
            &copy; 2020 - FunWithBrandt
        </div>
    </footer>

    {% comment %}
    {% endcomment %}

    <script src="{% static "blog/js/jquery/jquery.min.js" %}"></script>  {#must come before the below script#}
    <script type="text/javascript" src="{% static "blog/js/bootstrap/bootstrap.bundle.min.js" %}"></script>



    {% block scripts %}{% endblock %} {# This allows for other scripts on extended pages#}


</body>
</html>