{% extends "blog/base.html" %}

{% block title %}Data{% endblock %}

{% block content %}
     <h1>Data Importing </h1>
     <br /><br />
           


    <div class="row">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
             {# Could instead use one book name and different values for to differentiate on back end? #}    
                <div class="col">
                    <button type="submit" value="Book" name="Book" class="btn btn-primary">Export Book</button><br /><br />
                    <button type="submit" value="Blog" name="Blog" class="btn btn-primary">Export Blog</button><br /><br />
                    <button type="submit" value="Knowledge" name="Knowledge" class="btn btn-primary">Export Knowledge</button>       
                </div>

        </form>  
    </div>

    {% comment %}

     <div class="col">
                    <button type="submit" value="knowledge_import" name="book_import" class="btn btn-primary">Import Knowledge</button>      
                    <button type="submit" value="book_import" name="book_import" class="btn btn-primary">Import Books</button> 
    </div>


    <p>Below is supposed to be a python console that you can use to play around with, but it has been fickle for me in the
        past so I apologize if it is not working.    
    </p>
    <iframe style="width: 640; height: 480; border-style:solid;" name="embedded_python_anywhere" src="https://www.pythonanywhere.com/embedded3/"></iframe>
    {% endcomment %}

    <br /><br /><br /><br />

{% comment %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>

            <input type="file" id="myfile" name="filey_name" />
            <br />
            <button type="submit" value="Let's Fucking Do it!!!" class="btn btn-primary">Let's Fucking Do it!!!</button>
        </fieldset>


    </form>  
{% endcomment %}   




{% endblock %}
