{% extends "blog/base.html" %}

{% block title %}Data{% endblock %}

{% block content %}
     <h1>Data Importing </h1>
     <br /><br />
           

    <p>Below is supposed to be a python console that you can use to play around with, but it has been fickle for me in the
        past so I apologize if it is not working.    
    </p>
    <iframe style="width: 640; height: 480; border-style:solid;" name="embedded_python_anywhere" src="https://www.pythonanywhere.com/embedded3/"></iframe>
    

    <br /><br /><br /><br />

{% comment %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>

            <input type="file" id="myfile" name="filey_name" />
            <br />
            <button type="submit" value="Let's Fucking Do it!!!" class="btn btn-primary">Let's Fucking Do it!!!</button>
        </fieldset>


    </form>  
{% endcomment %}   

{% endblock %}
