{% extends "blog/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block styles %}
    <style>
        #explore-head {
            margin-bottom: 25px;
        }

        #explore-col {
            margin-bottom: 10px;
        }
    </style>
{% endblock styles %}
{% block content %}

    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            X
        </button>
        This website is currently under early development. Please don't judge it for typos or for being ugly.
    </div>

    <h1 class="text-center">Welcome!</h1>

    <div class="row">
        <div class="col-md-9">
            <p>Hello - I'm Brandt. This site is basically just a place where I can share my thoughts and
                display any fun projects I am working on.
            </p>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
            <img class="rounded img-fluid img-container" src="{% static 'blog/Images/lsuGraduation.jpg' %}"/>
        </div>
    </div>
    <br><br><br><br>

    <div class="row">
        <div id="explore-head" class="text-center col">
            <h3>What are you looking for?</h5>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="explore-col" class="col-lg-4">
            <a href="{% url  'blog:post_list' %}"><h3>Blog</h6></a> 
                <p>If you are interested in reading my not so profound thoughts on random topics
                    then you should go to my <a href="{% url 'blog:post_list' %}">Blog.</a>  
                </p>
        </div>
        <div id="explore-col" class="col-lg-4">
            <a href="{% url  'blog:book_list' %}"><h3>Books</h6></a> 
                <p>If you would like to explore some of the books I have devored, head over to 
                    the <a href="{% url 'blog:book_list' %}">Books page.</a>  
                </p>       
        </div>
        <div id="explore-col" class="col-lg-4">
            <a href="{% url  'blog:knowledge_repo' %}"><h3>Knowledge Table</h6></a> 
            <p>If you are trying to learn or just looking for a reference list of helpful articles and information
                sources you should head over to the <a href="{% url 'blog:knowledge_repo' %}">Knowledge Table.</a>  
            </p>
        </div>
    </div>

{% endblock %}

