{% extends "blog/base.html" %}

{% block title %}KnowledgeRepo{% endblock %}
{% block styles %}
    <style>    
    </style>
{% endblock %} 

{% block content %}


    {# Check out https://getbootstrap.com/docs/4.5/components/buttons/ for more filter fun stuff #}
    <h2>Knowledge Repository</h2>
    <br />
    <p>
        My beautiful table of learning. I would love additional entries so hit me up with other sources.
        This needs heavy refining. At the very least I need much better descriptions.
    </p>



    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input id="searchBox" type="search" class="search" name="search_box"/>
                <button class="btn btn-secondary btn-sm">
                    <span class="glypicon glyphicon-search"></span>Search
                </button>
            </div>
        </div>
    </form>

    <table class="table table-responsive table-striped table-bordered table-hover table-sm">
      
        <thead>
            <tr>
                <th>Person/Institution</th>
                <th>Description</th>
                <th>Tags</th>
            </tr>
        </thead>
        
        <tbody>
            {% for knowledge in knowledge_list %}
                <tr>
                    <td>{{ knowledge.author }}</td>
                    <td><a href="{{ knowledge.source }}">{{ knowledge.description }}</a></td>
                    <td>
                        <form method="get">
                            {% for tag in knowledge.tags_as_list %}
                                <button class="badge badge-primary" name="search_box" value="{{ tag }}" style="margin-bottom: 2px;">
                                    {{ tag }}
                                </button>
                            {% endfor %}
                        </form>
                        <!-- badge badge-pill badge-primary -->
                        <!-- btn btn-primary btn-sm -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>


    </table>

{% endblock %}